@import "tailwindcss";

html,
body {
  min-height: 100%;
  background-color: #000;
}

.template-container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
